<form action="/clinic/add" method="post">
    <input type="text" name="name" placeholder="Clinic Name" value="FIT2095 Clinic">
    <input type="text" name="address" placeholder="Address" value="Australia">
    <button type="submit">Add Clinic</button>
</form>
