<form action="/patient" method="post">
    <input type="text" name="name" required placeholder="Patient Name">
    <input type="number" name="age" required placeholder="Age">
    <input type="text" name="address" placeholder="Address" value="Australia">
    <button type="submit">Add Patient</button>
</form>
